# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IntelliJ
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment
.env